<launch> 

<!-- AMCL -->
  <node pkg="amcl" type="amcl" name="amcl">
    <param name="odom_model_type" value="diff"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="base_frame_id" value="base_link"/>
    <param name="global_frame_id" value="map"/>
    <param name="first_map_only" value="true"/><!--default : false-->
    <param name="use_map_topic" value="false"/><!--default : false-->
  </node>

</launch>
