<launch>
  <!--Permet de deplacer le robot simplement au clavier-->
  <!-- fichier inclut dans d'autres launch file-->
  <node pkg="robair_demo" type="kb_control.py" name="kb_control"/>
  <node pkg="robair_demo" type="motion_control_node.py" name="motion_control_node"/>
  <node pkg="robair_demo" type="arduino_sensors.py" name="arduino_sensors"/>

</launch>
